
.icon-sba-logo:before { content: '\e800'; } /* '' */
.icon-brain:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-hat:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-handsfree:before { content: '\e806'; } /* '' */
.icon-balcony:before { content: '\e807'; } /* '' */
.icon-dismantling:before { content: '\e808'; } /* '' */
.icon-measurements:before { content: '\e809'; } /* '' */
.icon-painting-works:before { content: '\e80a'; } /* '' */
.icon-plan:before { content: '\e80b'; } /* '' */
.icon-redecorating:before { content: '\e80c'; } /* '' */